[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
aiofiles = "*"
jinja2 = "*"
boto3 = "*"
aws-lambda-typing = "*"
aws-cdk-lib = "~=2.66"
constructs = "~=10.0"
Pygments = "~=2.18.0"
markdown = "*"

[dev-packages]
segno = "*"
qrcode-artistic = "*"
pillow = "*"

[requires]
python_version = "3.11"
